body {
    max-width: 800px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    height:100%;
}

article {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

code {
    font-family: monospace;
    background-color: rgb(230, 230, 230);
}

pre {
    background-color: rgb(230, 230, 230);
    overflow: auto;
    padding: 4px;
}

#home_link {
    color: rgb(20, 20, 20);
    text-decoration: inherit;
}