<!DOCTYPE html>
<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>{title}</title>
    <style>
{css}
    </style>
    <base href="/{title}/" />
    <link rel="stylesheet" href="/static/default.min.css">
    <script src="/static/highlight.min.js"></script>

</head>

<body>
    <script>hljs.highlightAll();</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <header>
        <h1><a id="home_link" href="/">paunstefan.xyz</a></h1>
    </header>
    <article>
{body}
    </article>
    <footer></footer>
</body>

</html>